<section class="md:p-5 sm:p-2.5 p-4 h-screen">
    <div class="grid md:grid-cols-2 grid-cols-1 md:gap-6 gap-0 md:h-full h-auto">
        <div class="w-full">
            <div
                class="bg-[url('../images/login-bg.png')] bg-no-repeat bg-cover bg-center rounded-[10px] xl:px-[100px] lg:px-12 md:px-4 sm:p-5 p-4 md:py-0 flex flex-col justify-center md:h-full h-auto">
                <span class="flex items-center"><img src="images/logo.svg" alt="" class="sm:h-auto h-[28px]" /></span>
                <h1
                    class="text-white font-bold xl:text-[54px] lg:text-[40px] md:text-[32px] xs:text-2xl text-xl font-Ubuntu !leading-[120%] max-w-[580px] w-full lg:pt-12 md:pt-[30px] md:pb-[18px] pt-6 pb-2.5">
                    Inizia la tua esperienza con noi.</h1>
                <p
                    class="font-Ubuntu text-white font-medium xs:text-base text-sm xs:leading-6 leading-5 md:max-w-[525px] max-w-full w-full">
                    Lorem ipsum dolor sit
                    amet consectetur. Lacus in dolor justo fusce vel habitant suspendisse. Placerat laoreet tortor purus
                    aliquet
                    id volutpat amet et. Eu donec diam pharetra laoreet malesuada ornare. Enim.</p>
            </div>
        </div>
        <div class="w-full md:pt-0 sm:pt-12  sm:pb-0 py-5">
            <div class="flex items-center justify-center h-full">
                <div class="max-w-[456px] w-full mx-auto">
                    <div class="lg:p-5 p-0">
                        <h3
                            class="text-black-1200 mb-4 font-Ubuntu font-medium sm:text-[32px] text-2xl  leading-[48px] tracking-[-1px]">
                            Crea
                            il tuo account </h3>
                        <form>
                            <div class="sm:mb-8 mb-4">
                                <label class="text-gray-1200 mb-2.5 font-Inter font-semibold text-sm block m-0">Full
                                    Name</label>
                                <input type="text"
                                    class="bg-white border border-solid border-gray-1200/[0.3] rounded-[10px] h-[60px] shadow-none text-black-1200 font-Ubuntu font-normal text-sm placeholder:text-black-1200 w-full pl-3.5 focus-visible: outline-none"
                                    placeholder="Mario Rossi" />
                            </div>
                            <div class="sm:mb-8 mb-4">
                                <label
                                    class="text-gray-1200 mb-2.5 font-Inter font-semibold text-sm block m-0">Email</label>
                                <input type="text"
                                    class="bg-white border border-solid border-gray-1200/[0.3] rounded-[10px] h-[60px] shadow-none text-black-1200 font-Ubuntu font-normal text-sm placeholder:text-black-1200 w-full pl-3.5 focus-visible: outline-none"
                                    placeholder="mariorossi@gmail.com" />
                            </div>
                            <div class="sm:mb-9 mb-4">
                                <label
                                    class="text-gray-1200 mb-2.5 font-Inter font-semibold text-sm block m-0">Password</label>
                                <div class="relative">
                                    <input type="password"
                                        class="bg-white border border-solid border-gray-1200/[0.3] rounded-[10px] h-[60px] shadow-none text-black-1200 font-Ubuntu font-normal text-sm placeholder:text-black-1200 w-full pl-3.5 focus-visible: outline-none"
                                        placeholder="***********" />
                                    <a href="#" class="absolute right-6 top-1/2 -translate-y-1/2"><img
                                            src="images/hide-eyes-icon.svg" alt="" /></a>
                                </div>
                            </div>
                            <div class="sm:mb-6 mb-4">
                                <label class="text-gray-1200 mb-2.5 font-Inter font-semibold text-sm block m-0">Ripeti
                                    password</label>
                                <div class="relative">
                                    <input type="password"
                                        class="bg-white border border-solid border-gray-1200/[0.3] rounded-[10px] h-[60px] shadow-none text-black-1200 font-Ubuntu font-normal text-sm placeholder:text-black-1200 w-full pl-3.5 focus-visible: outline-none"
                                        placeholder="***********" />
                                    <a href="#" class="absolute right-6 top-1/2 -translate-y-1/2"><img
                                            src="images/hide-eyes-icon.svg" alt="" /></a>
                                </div>
                            </div>
                            <div class="sm:mb-6 mb-4">
                                <a href="#"
                                    class="text-white font-Ubuntu font-medium text-base flex items-center justify-center hover:bg-purple-1100 hover:border-purple-1100 hover:text-white bg-sea-green-1100 border border-solid border-sea-green-1100 rounded-[10px] h-[52px]">Registrati</a>
                            </div>
                            <div class="mb-2.5">
                                <p class="text-sm font-Inter font-semibold text-gray-1200 text-center block">Oppure</p>
                            </div>
                            <div class="sm:mb-8 mb-4">
                                <a href="#"
                                    class="text-black-1200 font-Ubuntu font-normal text-sm flex items-center justify-center bg-gray-1300/[0.6] border border-solid border-gray-1200/[0.3] rounded-[10px] h-[60px] w-full"><img
                                        src="images/google-icon.svg" alt="" class="mr-2.5" /> Accedi con Google</a>
                            </div>
                            <div class="">
                                <p
                                    class="text-gray-1200 font-medium font-Ubuntu text-base flex items-center justify-center">
                                    Hai già
                                    un account?<a href="login.html"
                                        class="text-black-1200 hover:text-sea-green-1100 leading-none ml-2.5 flex items-center underline">Accedi</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <section>