:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    // height: 90vh; 
}

.sidebar {
    flex: 0 0 15%; 
    transition: flex-basis 0.3s ease; 
    
}
.main-content {
    flex: 1;
    height: 100% !important; 
    flex-grow: 1;
}

.sidebar.collapsed {
    flex-basis: 0; 
}

  
  .fullscreen .sidebar {
    display: none;
  }
  
  .fullscreen .main-content {
    width: 100%;
  }